<p>
<a href="#"><button type="button" class="btn btn-sm btn-secondary">Добавить микросхему</button></a>
</p>
<p>
<a href="{% url 'microschems_all' %}"><button type="button" class="btn btn-sm btn-secondary">К списку микросхем</button></a>
</p>

<hr>

<div class="card">
  <div class="card-header mb-0 bg-secondary text-white">
    <h5>Назначение</h5>
  </div>
  <ul class="list-group list-group-flush">
      {% for nazn in naznach %}
        {% if microschems %}
            <a href="#" class="list-group-item">{{nazn.name}}</a>
        {% endif %}
      {% endfor %}
  </ul>
</div>

<style>
  .list-group-item {
    text-decoration: none;
    color: inherit;
  }

  .list-group-item:hover {
    background-color: #f0f0f0;
  }

  .list-group-item.active {
    background-color: #808080;
  }
</style>