{% extends 'index_template.html' %}}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                <img src="{% static 'app/img/transistor.png'%}" class="card-img-top" alt="транзисторы" style="height: 64px; width: auto;">
                <h5 class="card-title">Транзисторы
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'transistors_all' %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                  <img src="{% static 'app/img/diode.png'%}" class="card-img-top" alt="Диоды"  style="height: 64px; width: auto;">
                <h5 class="card-title">Диоды
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'diodes_all' %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                  <img src="{% static 'app/img/zener.png'%}" class="card-img-top" alt="Стабилизаторы" style="height: 64px; width: auto;">
                <h5 class="card-title">Стабилизаторы
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'stabilisers_all' %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>
    </div>

<p></p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                <img src="{% static 'app/img/microschema.png'%}" class="card-img-top" alt="микросхемы" style="height: 64px; width: auto;">
                <h5 class="card-title">Микросхемы
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'microschems_all' %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                  <img src="{% static 'app/img/micro.png'%}" class="card-img-top" alt="Микроконтроллеры"  style="height: 64px; width: auto;">
                <h5 class="card-title">Микроконтроллеры
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'mcu_all' %}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                  <img src="{% static 'app/img/modul.png'%}" class="card-img-top" alt="Модули" style="height: 64px; width: auto;">
                <h5 class="card-title">Модули
                </h5>
                <p class="card-text">.................</p>
                <a href="{% url 'moduls_all'%}" class="btn btn-primary">Перейти</a>
              </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block left %}

<!--<div class="list-group list-group-flush" style="width: 10rem;">-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li class="list-group-item"><a href="#">Регистрация</a></li>-->
<!--    <li class="list-group-item"><a href="#">Вход</a></li>-->
<!--  </ul>-->
<!--</div>-->
{% endblock %}