{% extends 'index_template.html' %}}

{% block content %}
<div class="container mt-2">
    <h2 class="text-center">Список транзисторов</h2>
    <table class="table table-bordered table-striped">
        <thead  class="table-dark text-center">
            <tr>
                <th>Наименование</th>
                <th>Маркировка</th>
                <th>Тип</th>
                <th>Корпус</th>
                <th>Статус</th>
                <th>Количество</th>
                <th>DataSheet</th>
            </tr>
        </thead>
        <tbody>
        {% for t in transistors %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.mark }}</td>
                <td>{{ t.tip_trans }}</td>
                <td>{{ t.tip_korpusa }}</td>
                <td>
                    {% if t.status == 0 %}
                        нов.
                    {% elif t.status == 1 %}
                        б/у
                    {% endif %}
                </td>
                <td>{{ t.amount }}</td>
                <td>
                    {% for d in t.datasheet.all %}
                      <a href="/media/{{d.url}}">{{ d.discription }}</a>&nbsp;
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
            <!-- Добавьте дополнительные строки по мере необходимости -->
        </tbody>
    </table>
</div>

{% endblock %}

{% block left %}

{% endblock %}