{% extends 'index_template.html' %}}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <h4>{{ title }}</h4>
    </div>
</div>
 <hr>

<form method="post" action="{% url 'transistor_add' %}">
    {% csrf_token %}

    <div class="row m-2">
        <div class="form-group col-md-2">
            Наименование:
        </div>
        <div class="form-group col-md-4">
            {{ form.name }}
        </div>
        <div class="form-group col-md-2">
            Маркировка:
        </div>
        <div class="form-group col-md-4">
            {{ form.mark }}
        </div>
    </div>

    <div class="row m-2">
        <div class="form-group col-md-2">
            Тип транзистора:
        </div>
        <div class="form-group col-md-4">
            {{ form.tip_trans }}
        </div>
        <div class="form-group col-md-2">
            Корпус:
        </div>
        <div class="form-group col-md-4">
            {{ form.tip_korpusa }}
        </div>
    </div>

    <div class="row m-2">
        <div class="form-group col-md-2">
            Количество
        </div>
        <div class="form-group col-md-4">
            {{ form.amount }}
        </div>
        <div class="form-group col-md-2">
            Статус:
        </div>
        <div class="form-group col-md-4">
            {{ form.status }}
        </div>
    </div>
    <div class="row m-2">
            <div class="form-group col-md-12">
                Примечание:<br>
                {{ form.primech }}
            </div>

    </div>

  <div class="row m-2 border d-flex justify-content-start align-items-center">
    <div class="form-group col-md-8">
        Файлы DataSheet: <br>
        {{ form.datasheet }}
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</div>

</form>

<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Добавить Datasheet
</button>

<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавление файла Datasheet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">


                    <form method="post" action="{% url 'datasheet_add' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Описание:<br>
                            <input class="form-control" type="text" name="discription">
                        </p>
                        <p>Путь к файлу: <br>
                            <input class="form-control" type="file" name="url"></p>
                        <p><button class="btn btn-sm btn-primary" type="submit">Отправить</button></p>
                    </form>



          ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
<!--        <button type="button" class="btn btn-primary">Понял</button>-->
      </div>
    </div>
  </div>
</div>





<!--<div class="form-group col-md-4 m-6 d-flex">-->
<!--    <div class="p-2 align-self-center">-->
<!--        <a href="{% url 'datasheet_add' %}" id="open-modal">-->
<!--            <button type="button" class="btn btn-success">Добавить Datasheet</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}



{% block left %}
{% include "transistors/transistor_left.html" %}
{% endblock %}