{% extends 'index_template.html' %}}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-8">
            <h4 class="text-center">{{ headword }}</h4>
        </div>
        <div class="col-md-4">
          {% if tiptrans_id == 0 %}
          <form action="" method="get">
            <button class="btn btn-sm btn-light" type="submit">Найти</button>
            <input type="text" name="find" id="find" size="15" placeholder="по названию">
          </form>
          {% endif %}
        </div>
    </div>
    <div class="row border border-success" style="font-size:0.8rem">
        <div class="col-md-1 border fst-italic">
            Корпуса:
        </div>
        <div class="col-md-11 border">
            {% for link, description in korpus %}
               <a href="{% url 'transistors_list_tip_korpus' tiptrans_id link %}">{{ description }}</a>
        {% endfor %}
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead  class="table-dark text-center">
            <tr>
                <th>Наименование</th>
                <th>Маркировка</th>
                <th>Тип</th>
                <th>Корпус</th>
                <th>Статус</th>
                <th>Количество</th>
                <th>DataSheet</th>
            </tr>
        </thead>
        <tbody>
        {% for t in transistors %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.mark }}</td>
                <td>{{ t.tip_trans }}</td>
                <td>{{ t.tip_korpusa }}</td>
                <td>
                    {% if t.status == 0 %}
                        нов.
                    {% elif t.status == 1 %}
                        б/у
                    {% endif %}
                </td>
                <td>{{ t.amount }}</td>
                <td>
                    {% for d in t.datasheet.all %}
                      <a href="/media/{{d.url}}" target="_blank">{{ d.discription }}</a>&nbsp;
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
 <hr>
   <div class="pagination">
    {% if transistors.has_other_pages %}
        {% if transistors.has_previous %}
        <a href="?page={{ transistors.previous_page_number }}">&lt;&lt;</a>
        {% endif %}

        {% for i in transistors.paginator.page_range %}
            {% if transistors.number == i %}
                <b>{{ i }}</b>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif%}
        {% endfor %}

        {% if transistors.has_next %}
           <a href="?page={{ transistors.next_page_number }}">&gt;&gt;</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}


{% block left %}

{% endblock %}