{% extends 'index_template.html' %}}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <h4>{{ title }}</h4>
    </div>
</div>
 <hr>

<form method="post" action="{% url 'transistor_edit' transistor.id %}">
    {% csrf_token %}

    <div class="row m-2">
        <div class="form-group col-md-2">
            Наименование:
        </div>
        <div class="form-group col-md-4">
            {{ form.name }}
        </div>
        <div class="form-group col-md-2">
            Маркировка:
        </div>
        <div class="form-group col-md-4">
            {{ form.mark }}
        </div>
    </div>

    <div class="row m-2">
        <div class="form-group col-md-2">
            Тип транзистора:
        </div>
        <div class="form-group col-md-4">
            {{ form.tip_trans }}
        </div>
        <div class="form-group col-md-2">
            Корпус:
        </div>
        <div class="form-group col-md-4">
            {{ form.tip_korpusa }}
        </div>
    </div>

    <div class="row m-2">
        <div class="form-group col-md-2">
            Статус:
        </div>
        <div class="form-group col-md-4">
            {{ form.status }}
        </div>
    </div>


  <div class="row m-2 border d-flex justify-content-start align-items-center">
    <div class="form-group col-md-8">
        Файлы DataSheet: <br>
        {{ form.datasheet }}
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</div>

</form>

{% endblock %}



{% block left %}
{% include "transistors/transistor_left.html" %}
{% endblock %}